<!-- <p>Find me in app/views/tasks/index.html.erb</p> -->
<%= month_calendar events: @tasks do |date, tasks| %>
  <%= date.day %>
  <br>

  <% tasks.each do |task| %>
    <div>
    <%= link_to task.title, task %>
    </div>
  <% end %>
<% end %>

<div class="p-event__btn">
  <%= link_to 'スケジュールを追加', new_task_path %>
</div>

<br>
<br>
<br>
<h2>行事一覧</h2>
<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>日時</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.start_time.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task.id) %></td>
        <td><%= link_to 'Destroy',task_path(task.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>